.form_container {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-image: url("forms/beach.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: absolute;

  .form_section {
    background-color: white;
    width: 500px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 2);

    .form_title {
      font-size: 50px;
      margin-bottom: 50px;
    }

    .form_title_with_info {
      @extend .form_title;
      margin-bottom: 0;
    }

    .form_info {
      margin-top: 0;
      margin-bottom: 50px;
    }

    .field_with_errors {
      display: inline
    }

    .input_container {
      position: relative;
      height: 45px;
      width: 90%;
      margin-bottom: 17px;

      .input_field {
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        border: 1px solid #dadce0;
        border-radius: 7px;
        font-size: 16px;
        padding: 0 20px;
        outline: none;
        background: none;
        z-index: 1;
      }

      .input_label {
        position: absolute;
        top: -7px;
        left: 3px;
        padding: 0 4px;
        background-color: white;
        top: -7px;
        left: 3px;
        z-index: 10px;
        font-size: 14px;
        font-weight: 600;
      }
    }

    .form_options {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .form_remember_me {
        margin-bottom: 5px;
      }
    }

    .form_footer {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 30px;

      .cancel_btn {
        margin: auto 0;
        // height: 40px;
        // background-color: black;
        // width: 94px;
        cursor: pointer;
        font-size: 16px;
        padding: 15px 30px;
        border-radius: 6px;
        border: 1px black solid;
        text-decoration: none;
        color: black;

        &:hover {
          transform: translateY(-2px);
        }
      }

      .submit_btn {
        padding: 15px 30px;
        border: none;
        background-color: blue;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
          background-color: rgb(50 50 239);
          transform: translateY(-2px);
        }
      }
    }

  }
}
