// Entry point for your Sass build
@import "forms";
@import "homepage";
@import "common";

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: white;
	font-family: "lato", sans-serif;
	min-height: 100vh;
};

* {
  box-sizing: border-box;
}
